


.card:hover{
transform: scale(1.05);
cursor: pointer;
}

.icon-card{
  transform: scale(2);
  color: #ff0000;
}
.card-title{
  width: 145px;
  /* border: solid 1px red; */
  font-size: 12px;
}

.control-setas-border1,
.control-setas-border2{
  width: 25px;
  height: 25px;
  padding-left: 4px;
  border-radius: 50px;
  background-color: #000;
}
.control-setas-border1{
  padding-left: 0;
  padding-right: 4px;
}
.carousel-control-prev{
margin-left: -70px;
}
.carousel-control-next{
margin-right: -70px;
}