<header>

    <div >
        <a href="./header.component.html">
            <app-logo-white logoWidth='180' class="display-pc" ></app-logo-white>
            <app-logo-white logoWidth='150' class="display-smart" ></app-logo-white>
        </a>
    </div>

    <div class="search-box">
        <div class="search-box-text">
            <input type="search" name="pesquisar" placeholder="Digite aqui sua buscar" id="search-box-input">
            <div class="search-logo">
                <mat-icon class="icon-search" aria-hidden="false" aria-label="Example home icon" fontIcon="search" />
            </div>
        </div>
    </div>

    <div class="saldo-box">
        <p>Saldo + limite</p>
        <div class="saldo">
            <p class="display-saldo">{{saldoFormatado}}</p>
        </div>
    </div>

    <div class="icones-box">
        <div class="user-login">
            <mat-icon class="icon-user" aria-hidden="false" aria-label="Example home icon" fontIcon="person" />
            <p class="name-user">{{accountData.name}}</p>
        </div>
        
    </div>


</header>