<div class="container">

    <div class="slider-container shadow-box">
        <div class="image-container" [ngStyle]="{'transform': 'translateX(' + translateValue + ')'}">
            <img *ngFor="let image of images" [src]="image" [alt]="image" class="slide">
        </div>
    </div>

    <div class="controls">
        <input type="radio" name="sliderControl" [value]="index" (click)="goToSlide(index)"
        *ngFor="let image of images; let index = index" [checked]="index === currentSlide">
    </div>
</div>