<div class="card-container-0 shadow-box dfd">
    <div class="card-logo">
        <!-- <app-logo-white logoWidth="140" class="logo-card-pc" /> -->
        <app-logo-white logoWidth="100" class="logo-card-smart" />
    </div>

    <div class="card-middle-1">
        <!-- <img src="../../../assets/chip.png" width="80px" alt="chip" class="logo-card-pc"> -->
        <img src="../../../assets/chip.png" width="50px" alt="chip" class="logo-card-smart">
        <div class="card-number">
            <p>XXXX</p>
            <p>XXXX</p>
            <p>XXXX</p>
            <p>{{accountData.card.number}}</p>
        </div>
    </div>
    <div class="card-footer-2">
        <div class="footer-data-2">
            <p>BEM VINDO, {{accountData.name}}</p>
        </div>
    </div>
    <div class="card-footer-1">
        <div class="footer-data">
            <p>AG {{accountData.account.agency}}</p>
            <p>CC {{accountData.account.number}}</p>
        </div>
    </div>
    <div class="card-limite">
        <p>Limite: {{limitFormatado}}</p>
    </div>
</div>