header{
    position: fixed;
    z-index: 9999;
  }
.card-container {
    background-color: #e31918;
    color: #fff;

    height: 300px;
    width: 500px;
    padding: 5px 40px;
    border-radius: 12px;

    display: flex;
    flex-direction: column;

}

.card-logo {
    
    margin-top: -25px;
    margin-bottom: -20px;


}

.card-middle {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

.card-number {
    font-weight: 600;
    font-size: 24px;
    display: flex;
    flex-direction: row;
    gap: 20px;

}

.card-footer-2 {
    margin-top: 20px;
    font-weight: 600;
    font-size: 18px;

    margin-right: 150px;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.card-footer {
    font-weight: 600;
    font-size: 16px;


    display: flex;
    flex-direction: row;
    gap: 6px;
    flex-wrap: wrap;

}

.footer-data {
    margin-top: 8px;

    display: flex;
    flex-direction: row;

    gap: 225px;
}

.card-limit {
    margin-top: 20px;
    margin-left: 280px;
}