header {
    position: fixed;
    z-index: 9999;
}

.card-container-0 {
    background-color: #e31918;
    color: #fff;

    height: 300px;
    width: 500px;
    padding: 5px 40px;
    border-radius: 12px;

    display: flex;
    flex-direction: column;

}

.card-logo {

    margin-top: -25px;
    margin-bottom: -20px;


}

.card-middle-1 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

.card-number {
    font-weight: 600;
    font-size: 24px;
    display: flex;
    flex-direction: row;
    gap: 20px;

}

.card-footer-2 {
    margin-top: 20px;
    font-weight: 600;
    font-size: 18px;

    margin-right: 150px;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.card-footer-1 {
    font-weight: 600;
    font-size: 16px;


    display: flex;
    flex-direction: row;
    gap: 6px;
    flex-wrap: wrap;

}

.footer-data {
    margin-top: 8px;

    display: flex;
    flex-direction: row;

    gap: 225px;
}

.card-limite {
    margin-top: 20px;
    margin-left: 280px;
}

/* Smartphone */

@media (max-width: 768px) {

    .card-container-0 {
        margin-top: 150px;
        margin-left: 0px;
        width: 260px;
        height: 160px;
        padding: 0px 0px;
        border-radius: 8px;

    }
   
    .card-logo {
        
        margin-top: -30px;
        margin-left: 15px;
        margin-bottom: -10px;
        width: 100px;
        height: 100px;
    
    
    }
    .icon-card-smart{
        margin-top: -10px;
    }
    .card-middle-1 {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 0px;
    }
    
    .card-number {
        margin-left: 10px;
        font-weight: 600;
        font-size: 12px;
        display: flex;
        text-align: center;
        flex-direction: row;
        align-items: center;
        gap: 8px;
    
    }
    
    .card-footer-2 {
        margin-top: 0px;
        font-weight: 600;
        font-size: 10px;
        width: 200px;
        margin-left: 22px;
       
    
        display: block;
        
    }
    
    .card-footer-1 {
        font-weight: 600;
        font-size: 10px;
    
    
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 6px;
        flex-wrap: wrap;
    
    }
    
    .footer-data {
        margin-top: -4px;
    
        display: flex;
        flex-direction: row;
    
        gap: 100px;
    }
    
    .card-limite {
        font-size: 10px;
        margin-top: -15px;
        margin-left: 22px;
    }
}