.container-principal-news{
    display: flex;
    flex-direction: row;
}
.card-img-top{
    width: 400px;
    height: 250px;
    padding: 25px;
}
.card-text{
    padding: 15px 15px;
    width: 400px;
    text-align: center;
}
.container-news{
    background-color: #0000009a;
    width: 400px;
    border-radius: 25px;
    cursor: default;
}
.container-news:hover{
    cursor: pointer;
    transform: scale(1.005);
}
.card-text{
    font-size: 20px;
    color: #fff;
}

@media (max-width: 768px) {

    /* .container-principal-news,
    .container-news{
      display: none; 
    } */

    .container-principal-news{
        display: flex;
        flex-direction: column;
    }

    .card-img-top{
        margin-top: 15px;
        width: 300px;
        height: 130px;
    }
    
    .container-news{
        width: 300px;
    }
    .card-text{
        padding: 15px 15px;
        width: 300px;
        text-align: center;
    }
    .container-news:hover{
        cursor: pointer;
        transform: scale(1.005);
    }
    .card-text{
        font-size: 20px;
        color: #fff;
    }
  
  
  }