
.card-img-top{
    width: 800px;
    height: 300px;
    padding: 25px;
}

.container-news{
    background-color: #797979;
    /* background-color: #e31918; */
    border-radius: 25px;
    cursor: default;
}
.container-news:hover{
    cursor: pointer;
    transform: scale(1.005);
}
.card-text{
    font-size: 20px;
    color: #fff;
}

@media (max-width: 768px) {

    .container-principal-news,
    .container-news{
      display: none;
    }
  
  
  }