

<div class=" m-4 justify-content-center align-items-center container-principal-news">

    <div class="card m-2 container-news ">
        <img class="card-img-top" src={{newsData.news[1].icon}} alt="Card image cap">
        <div class="card-body d-flex align-items-center flex-column">

            <p class="card-text">{{newsData.news[0].description}}</p>
            <a href="#" class="btn btn-danger">Mais Informações</a>
        </div>
 
    </div>
    <div class="card m-2 container-news  ">
        <img class="card-img-top  " src={{newsData.news[0].icon}} alt="Card image cap">
        <div class="card-body d-flex align-items-center flex-column  ">

            <p class="card-text">{{newsData.news[1].description}}</p>
            <a href="#" class="btn btn-danger">Mais Informações</a>
        </div>
    </div>

</div>