/* header{
    position: fixed;
    z-index: 9999;
  } */
.content-container{
    margin-top: 100px;
    margin-bottom: 60px;
    padding: 5px 40px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.cards-boxes{
    display: flex;
    margin-bottom: 30px;
}
.content-card{
    margin-left: 15px;
}

.titulo-carousel,
.titulo-news{
   
    font-size: 2rem;
    margin-top: 70px;
    margin-bottom: 30px;
  }

  /* Smartphone */

  @media (max-width: 768px) {
   
  }