<header>
    <app-header />
</header>
<div class="content-container ">
    <div class="cards-boxes">
        <div class="content-card">
            <app-card-box />
        </div>
        <div class="content-card">
            <app-amount-box />
        </div>
    </div>
    <div class="center-text">
        <h1 class="titulo-carousel">Dá uma olhadinha em tudo que temos</h1>
    </div>
    <div class="carousel">
        <app-carousel-items />

    </div>
    <div class="center-text">
        <h1 class="titulo-news">Importante para você</h1>

    </div>
    <div class="noticias">
        <app-noticias></app-noticias>
    </div>

</div>

<div class="alert alert-info" role="alert">
    Pagina apenas para teste com angular e bootstrap. Desenvolvedor Antonio victor Pereira Severiano.
</div>
<!-- <footer class="mt-5">
    <app-footer/>
</footer> -->